# Created by https://www.gitignore.io/api/bower,django,python

# Docker #
#Dockerfile
#docker-compose.yml
script_final.sh
.docker


### Bower ###
components
bower_components
.bower-cache
.bower-registry
.bower-tmp

# logs do cron
*.log*

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
# TODO: DESCOMENTAR PARA FAZER BACKUP DAS MIDIAS
media/*
tests/reports
#media/temp
#media/uploads
#media/anexos

# Arquivos que não devem subir para o repositório (Mateus 2023-05-15 19:20)
media_cgeo/
static_cgeo_app/

staticfiles/

# Migrations que causa problemas
#projeto/cartorio/migrations/0045_delete_comunicacaoceripi.py

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Python ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# Environments
.env
.env.prod
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site
/_dev

# mypy
.mypy_cache/

# visual code
.vscode/

# pycharm
.idea/

# End of https://www.gitignore.io/api/bower,django,python

*.py.*.py


## pasta de backups do banco e media
backups
tmp/devcontainers-4cc24205-d283-4976-b7f0-836becaeacac1675770264751/env-loginInteractiveShell.json
.devcontainer/docker-compose.yml
.devcontainer/docker-compose.yml
.devcontainer/devcontainer.json
nohup.out
/log/*.log
*.rdb
start-dev.sh
restart-dev.sh
stop-dev.sh