{% extends "base.html" %}

{% block content %}
  <div class="container">
    <section aria-labelledby="postagens-titulo">
      <h1 id="postagens-titulo" class="mb-4">Relevantes</h1>
    
      <ul class="list-group">
        {% for object in page_obj.object_list %}
          {% include "partials/postagem_list_item.html" %}
        {% empty %}
          <p class="text-muted">Nenhuma postagem disponível no momento.</p>
        {% endfor %}
      </ul>
    </section>
    {% include "partials/paginacao.html" %}
  </div>
{% endblock content %}