{% extends "base.html" %}

{% block content %}
  <div class="container">
    <section aria-labelledby="section-title">
      <h1 id="section-title" class="mb-4">{{ title }}</h1>
      
      <ul class="list-unstyled row row-cols-1 row-cols-md-3 g-4">
        {% for object in page_obj.object_list %}
          {% include "partials/topico_list_item.html" %}
        {% empty %}
          <li class="list-group-item text-muted">
            Nenhum tópico disponível no momento.
          </li>
        {% endfor %}
      </ul>
    </section>
    {% include "partials/paginacao.html" %}
  </div>
{% endblock content %}