{% load static %}

<div class="mb-4">
    {% include "partials/postagem_comentario_avatar.html" %}
    <div class="border-start border-1 border-secondary px-4 ms-4">
        <article>
            <div class="summernote-content mb-4">
                {{ comentario.conteudo|safe }}
            </div>
    
            {% include "partials/postagem_button_group.html" %}
        </article>
        {% for comentario in comentario.respostas.all %}
            {% include "partials/comentario.html" %}
        {% endfor %}
    </div>
</div>