
<div class="mb-0 mt-2 d-inline-flex">
    <button class="btn btn-outline-dark me-2">
        responder
    </button>
    <button class="btn px-1 d-flex align-items-center" aria-hidden="true">
        <i class="fas fa-arrow-alt-circle-up fs-3"></i>
        <span class="mx-2" aria-label="Up Votes">{{ object.upvotes_count }}</span>
    </button>
    <button class="btn px-1 d-flex align-items-center" aria-hidden="true">
        <i class="fas fa-arrow-alt-circle-down fs-3"></i>
        <span class="mx-2" aria-label="Down Votes">{{ object.downvotes_count }}</span>
    </button>
</div>