
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

<div class="mb-0 mt-2 d-inline-flex">
    <button class="btn btn-outline-dark btn-sm me-2" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#respostaForm-{% if comentario %}comentario-{{ comentario.id }}{% else %}postagem-{{ object.id }}{% endif %}" 
            aria-expanded="false" 
            aria-controls="respostaForm-{% if comentario %}comentario-{{ comentario.id }}{% else %}postagem-{{ object.id }}{% endif %}">
        responder
    </button>
    
    <!-- Seus outros botões -->
    {% if comentario %}
        <a href="{% url 'voto_comentario' object.id comentario.id '+1' %}" role="button" aria-label="Up Vote" class="btn px-1 d-flex align-items-center">
            <i class="fas fa-arrow-alt-circle-up fs-3"></i>
            <span class="mx-2" aria-label="Up Votes">{{ comentario.upvotes_count }}</span>
        </a>
        <a href="{% url 'voto_comentario' object.id comentario.id '-1' %}" role="button" aria-label="Down Vote" class="btn px-1 d-flex align-items-center">
            <i class="fas fa-arrow-alt-circle-down fs-3"></i>
            <span class="mx-2" aria-label="Down Votes">{{ comentario.downvotes_count }}</span>
        </a>
        {% if request.user == comentario.created_by %}
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-dark h-100" type="button" 
                        id="dropdownOptionsButtonComentario{{ comentario.id }}" 
                        data-bs-toggle="dropdown" 
                        aria-label="Opções"
                        aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                
                <ul class="dropdown-menu" aria-labelledby="dropdownOptionsButtonComentario{{ comentario.id }}">
                    <li>
                        <a class="dropdown-item" 
                        href="{% url 'postagem_detail' comentario.id %}">
                            Editar
                        </a>
                    </li>
                    <li>
                        <button class="dropdown-item text-danger" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteModal"
                                data-post-id="{{ object.id }}"
                                data-post-url="{% url 'postagem_detail' comentario.id %}">
                            Excluir
                        </button>
                    </li>
                </ul>
            </div>
        {% endif %}
    {% else %}
        <a href="{% url 'voto_postagem' object.id '+1' %}" role="button" aria-label="Up Vote" class="btn px-1 d-flex align-items-center">
            <i class="fas fa-arrow-alt-circle-up fs-3"></i>
            <span class="mx-2" aria-label="Up Votes">{{ object.upvotes_count }}</span>
        </a>
        <a href="{% url 'voto_postagem' object.id '-1' %}" role="button" aria-label="Down Vote" class="btn px-1 d-flex align-items-center">
            <i class="fas fa-arrow-alt-circle-down fs-3"></i>
            <span class="mx-2" aria-label="Down Votes">{{ object.downvotes_count }}</span>
        </a>                
        {% if request.user == object.created_by %}
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-dark h-100" type="button" 
                        id="dropdownOptionsButtonPostagem{{ object.id }}" 
                        data-bs-toggle="dropdown" 
                        aria-label="Opções"
                        aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                
                <ul class="dropdown-menu" aria-labelledby="dropdownOptionsButtonPostagem{{ object.id }}">
                    <li>
                        <a class="dropdown-item" 
                        href="{% url 'postagem_detail' object.id %}">
                            Editar
                        </a>
                    </li>
                    <li>
                        <button class="dropdown-item text-danger" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteModal"
                                data-post-id="{{ object.id }}"
                                data-post-url="{% url 'postagem_detail' object.id %}">
                            Excluir
                        </button>
                    </li>
                </ul>
            </div>
        {% endif %}
    {% endif %}
</div>

<!-- Área do formulário (inicialmente oculta) -->
<div class="collapse mt-3" id="respostaForm-{% if comentario %}comentario-{{ comentario.id }}{% else %}postagem-{{ object.id }}{% endif %}">
    {% if comentario %}
        <form method="post" action="{% url 'postagem_comentario_responder' object.id comentario.id %}">
    {% else %}
        <form method="post" action="{% url 'postagem_responder' object.id %}">
    {% endif %}
        {% csrf_token %}        
        <div class="mb-3">
            <textarea id="summernote-editor-{% if comentario %}comentario-{{ comentario.id }}{% else %}postagem-{{ object.id }}{% endif %}" class="form-control" name="conteudo" required></textarea>
        </div>
        
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-secondary btn-sm me-2" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#respostaForm-{% if comentario %}comentario-{{ comentario.id }}{% else %}postagem-{{ object.id }}{% endif %}"
                    aria-label="Cancelar comentário">
                Cancelar
            </button>
            <button type="submit" class="btn btn-dark" aria-label="Enviar comentário">Enviar</button>
        </div>
    </form>
</div>

<!-- Modal de Confirmação -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir esta postagem permanentemente?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Script para manipulação do modal -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $(document).ready(function() {
        // Inicializa o Summernote
        $('#summernote-editor-{% if comentario %}comentario-{{ comentario.id }}{% else %}postagem-{{ object.id }}{% endif %}').summernote({
            placeholder: 'Digite sua resposta aqui...',
            tabsize: 2,
            height: 200,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
        
        // Limpa o editor quando o formulário é fechado
        $('[data-bs-target="#respostaForm-{% if comentario %}comentario-{{ comentario.id }}{% else %}postagem-{{ object.id }}{% endif %}"]').on('click', function() {
            if (!$(this).hasClass('collapsed')) {
                $('#summernote-editor-{{ object.id }}').summernote('reset');
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var deleteModal = document.getElementById('deleteModal');
        var deleteForm = document.getElementById('deleteForm');
        
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var postUrl = button.getAttribute('data-post-url');
            deleteForm.action = postUrl;
        });
    });
</script>