{% load i18n %}
{% autoescape off %}
{% blocktranslate %}
Você está recebendo este email porque solicitou a redefinição de senha para sua conta no {{ site_name }}.
{% endblocktranslate %}

{% translate "Por favor, acesse o seguinte link para redefinir sua senha:" %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% translate "Seu nome de usuário, caso tenha esquecido:" %} {{ user.get_username }}

{% translate "Obrigado por usar nosso site!" %}

{% blocktranslate %}
Equipe {{ site_name }}
{% endblocktranslate %}
{% endautoescape %}